<section class="general-properties">
    <div class="section-wrapper">
        <p class="section-text-block">Kiseonik(oxigenium, iz grčkog oštar, kiseo i koji stvara kiselinu)</p>
        <p class="section-text-block">Hemijski element koji se označava simbolom O</p>
        <p class="section-text-block">Atomski broj – 8</p>
        <p class="section-text-block"> VI A grupa, 2. perioda</p>
        <p class="section-text-block">Halogeni metal</p>
        <p class="section-text-block">Najrasprostranjeniji je u Zemljinoj kori</p>
        <p class="section-text-block"> Takođe, oko 20% ga ima u atmosveri</p>
        <p class="section-text-block"> U višim slojevima javlja se u vidu molekule O<sub>3</sub> – ozon, koli takođe
            pravi ozonski omotač( ptavi se u vodoničnoj vezi takođe)</p>
        <p class="section-text-block">Švesko – njemački hemičar Carl Wilhem Scheele 1774. i engleski hemičar Joseph
            Priestley 1771, nezavisno jedan od drugog otkrili su i izolovalo kiseonik u sklopu proučavanja procesa
            sagovijevanja</p>
        <p class="section-text-block">Najznačajniji element, potreban za život gotovo svih živih bića</p>

    </div>
</section>
<section class="physical-properties" id="phys-prop">
    <div class="section-wrapper">
        <h2>Fizičke osobine</h2>
        <p class="section-text-block">Nema boju</p>
        <p class="section-text-block">Nema miris ni ukus</p>
        <p class="section-text-block">Gustina 1,429 kg/m<sup>3</sup></p>
        <p class="section-text-block">Atomska masa 15,9994 u</p>
        <p class="section-text-block">Atomski radijus 60(48) pm</p>
        <p class="section-text-block">Kovalentni radijus 73 pm</p>
        <p class="section-text-block">Elektronska konfiguracija (He)2s<sup>2</sup>2p<sup>4</sup></p>
        <p class="section-text-block">Oksidacioni broj +-2,1</p>
        <p class="section-text-block">Osobine oksida: nema</p>
        <p class="section-text-block">Regularna kristalna struktura</p>
        <p class="section-text-block">Gasovito agregatno stanje</p>
        <p class="section-text-block">Temperatura topljenja -222,8 stepeni Celzijusovih</p>
        <p class="section-text-block">Temperatura ključanja -182,97 stepeni Celzijusovih</p>
        <p class="section-text-block">Molarna zapremina 17,36 x 10<sup>-3</sup> m<sup>3</sup>/mol</p>
        <p class="section-text-block">Brzina zvuka 317,5 m/s</p>
        <p class="section-text-block">Specifična toplota 920 J/kg*K</p>
        <p class="section-text-block">Kiseonik u vodi nije mnogo rastvorljiv</p>
        <p class="section-text-block">Rastvoren kiseonik je biosveri i hidrosveri, dok se u gasovirom stanju nalazi u
            litosveri i atmosveri</p>


    </div>

</section>
<section class="chemical-properties" id="chem-prop">
    <div class="section-wrapper">
        <h2>Hemijske osobine</h2>
        <p class="section-text-block">Elektronegativnost 3,44(Pauling)</p>
        <p class="section-text-block">IV energije jonizacije</p>
        <p class="section-text-block">Najčešće se javlja kao molekulski kiseonik O<sub>2</sub></p>
        <p class="section-text-block">Neophodan za sagorijevanje i koroziju</p>
        <p class="section-text-block">Biljke ga stvaraju fotosintezom, ali se troši disanjem</p>
        <p class="section-text-block">Može biti otrovan pri velikim koncentracijama</p>
        <p class="section-text-block">Stabilni izotopi O<sup>16</sup>, O<sup>17</sup>, O<sup>18</sup></p>
        <p class="section-text-block">Postoji još 13 nestabilni kiseonikovih izotopa</p>
        <p class="section-text-block">Kružni tok kiseonika, dinamička ravnoteža uspostavljena između stvaranja i
            trošenja kiseonika</p>
        <p class="section-text-block">E947 - aditiv kiseonika u hrani, koristi se kod pakovanja kao sredstvo zaštite i
            kao gas pri pakovanju povrća</p>
        <p class="section-text-block">Najrasprostranjenije, kao i najznačajnije jedinjenje kiseonika na zemlji je
            voda(H<sub>2</sub>O)</p>
        <p class="section-text-block">Reaguje direktno sa većinom hemijskih elemenata</p>
        <p class="section-text-block">plemeniti gasovi ne reaguju direktno sa kiseonikom</p>
        <p class="section-text-block">Gasoviti kiseonik je dosta inertan</p>
        <p class="section-text-block">U kiseonikovim reakcijama oslobadja se velika toplota</p>

    </div>
</section>
<section class="element-usage" id="el-usage">
    <div class="section-wrapper">
        <h2>Upotreba</h2>
        <p class="section-text-block">Može se dobiti industrijskim i laboratorijskim putem, kao i elektrolizom</p>
        <p class="section-text-block">Najčešće se isporučuje u čeličnim bocama pod pritiskom od 150 bara</p>
        <p class="section-text-block">Primjenjuje se u procesima sagorijevanja radi postizanja viših temperatura, za
            proizvodnju sintetički plinova, prehrambena industrija,načnotehnička istraživanja,u medicini(medicinski
            kiseonik), u tehnici( proizvodnja sirovog željeza i čelika)...</p>

        <p class="section-text-block"></p>
    </div>
</section>
<section class="element-reactions" id="el-react">
    <div class="section-wrapper">
        <h2>Reakcije</h2>
        <p class="section-text-block">Oksidi kiseonika mogu biti : bazni( I i II A grupa),kiseli(nemetali),
            amfotermi(Al<sub>2</sub>O<sub>3</sub>,ZnO) i neutralni(CO,NO)</p>
        <p class="section-text-block">Oksidi metala + H<sub>2</sub>O→baze(hidroksidi)</p>
        <p class="section-text-block">MgO + H<sub>2</sub>0→Mg(OH)<sub>2</sub></p>
        <p class="section-text-block">Oksidi nematala + voda → kiseline</p>
        <p class="section-text-block">XO<sub>2</sub> + H<sub>2</sub>O→H<sub>2</sub>XO<sub>3</sub></p>
        <p class="section-text-block">XO<sub>3</sub> + H<sub>2</sub>O→H<sub>2</sub>XO<sub>4</sub></p>
        <p class="section-text-block">Amfoterni:</p>
        <p class="section-text-block">Al<sub>2</sub>O<sub>3</sub> + HCl→ 2AlCl<sub>3</sub> + 3H<sub>2</sub>0</p>
        <p class="section-text-block">Al<sub>2</sub>O<sub>3</sub>+ NaOH→2NaAlO<sub>2</sub> + H<sub>2</sub>0</p>
    </div>
</section>
